###############################################################################
# HOST DEFINITIONS
#
###############################################################################

define host{
	use		generic-host	; Inherit default values from a template
	host_name	OwnersList18	; The name we're giving to this host
	alias		OL18	; A longer name associated with the host
	address		10.0.0.109	; IP address of the host
	hostgroups	windows-clients
	}
